.general-info,
.education-info,
.experience-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  h2 {
    font-size: 1.25rem;
    margin: 0;
  }
}

.general-form,
.education-form,
.experience-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  min-width: 500px;
  label {
    font-size: 1rem;
    font-weight: 500;

    span {
      margin-left: 0.5rem;
      color: red;
    }
  }

  input {
    min-width: 100%;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 0.5rem;
  }
}

.date-container,
.btnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container {
  gap: 1.25rem;
  .startDate,
  .endDate {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
  }
}

.btnContainer {
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  .btnFormControl {
    display: flex;
    gap: 1rem;
  }
}

.addEducation,
.addExperience {
  align-self: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;

  .list-item {
    width: 100%;
    text-align: start;
    font-weight: bold;
    list-style-type: none;
    background-color: rgb(57, 56, 56);
    border: none;
    border-radius: 0.5rem;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    cursor: pointer;
  }
}
