.header {
  min-width: 780px;
  padding-top: 2rem;
}
.userContact-info {
  display: flex;
  justify-content: space-evenly;
}
.email,
.phone,
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1.15rem;
  cursor: pointer;
}

.svg {
  fill: #343434;
}
