.education-container,
.experience-container {
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
  padding-block: 1rem;

  h2 {
    text-align: start;
    margin-bottom: 0.5rem;
    position: relative;
  }
  h2::after {
    content: "";
    position: absolute;
    height: 0.1em;
    width: 100%;
    background-color: black;
    bottom: 0;
    left: 0;
  }

  .education {
    display: flex;
    flex-direction: column;

    .uni-details {
      display: flex;
      justify-content: space-between;
      padding-inline: 1rem;
      font-size: 1.15rem;
    }
    .degree-details {
      display: flex;
      justify-content: space-between;
      padding-inline: 1rem;
    }
  }
}
